@import "bootstrap.min.css";
@import "icon.css";
@import "toastify-js/src/toastify.css";
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.transparent-background {
    --cell-color: #cfdaea;
    background-image: linear-gradient(45deg, var(--cell-color) 25%, transparent 25%, transparent 74%, var(--cell-color) 75%, var(--cell-color)),
    linear-gradient(45deg, var(--cell-color) 25%, transparent 25%, transparent 74%, var(--cell-color) 75%, var(--cell-color));
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
}

.feature {
    font-size: 3rem;
}

.only-no-js {
    display: inherit;
}

.only-js {
    display: none;
}

#form_loading_indicator {
    font-weight: bolder;
    -webkit-text-stroke: 0.125rem black;
    -webkit-text-fill-color: white;
}
