@import "bootstrap.min.css";
@import "icon.css";
@import "toastify-js/src/toastify.css";
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.image-loading-spinner {
    --bs-spinner-width: 3rem;
    --bs-spinner-height: 3rem;
    --bs-spinner-border-width: 0.4rem;
}

.image-loading-grow {
    --bs-spinner-width: 4rem;
    --bs-spinner-height: 4rem;
}

.transparent-background {
    --cell-color: #cfdaea;
    background-image: linear-gradient(45deg, var(--cell-color) 25%, transparent 25%, transparent 74%, var(--cell-color) 75%, var(--cell-color)),
    linear-gradient(45deg, var(--cell-color) 25%, transparent 25%, transparent 74%, var(--cell-color) 75%, var(--cell-color));
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
}

.feature {
    font-size: 3rem;
}
